<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.jameskyle.daily_news</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/daily_news.py</string>
  </array>
		<key>StartCalendarInterval</key>
		<dict>  
			<key>Hour</key>
			<integer>16</integer>
		</dict>
</dict>
</plist>
